.articles-container {
  height: calc(100vh - 4rem);
}

.menubar-container {
  height: calc(100vh - 4rem);
  top: 4rem;
  overflow: none;
}

.categories-container {
  overflow: auto;
  height: 25rem;
}

.table-container {
  max-height: calc(100vh - 4rem);
  width: calc(100vw - 324px);
  margin-top: 4rem;
  margin-left: 324px;
}

.table-container tr:nth-child(odd) {
  background-color: #F8F9F9;
}

.version-history-container {
  height: calc(100vh - 4rem);
}

.version-history-textarea{
  outline: none;
  resize: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
